<div class="container">
    <div class= "row">
        <div class="col-sm">
<h3>Cash Accounts</h3>
<app-cashaccount
*ngFor="let item of accounts; let i=index"
[name]='item.name'
[amount]='item.amount'
[id]='item.id'>
</app-cashaccount>

<button (click)=getAllCashAcc()>Get All Accounts</button><br/><br/>

<!--Add Account-->
<h5>Add an account</h5><br/>
<form>
    <input type='text' [(ngModel)]='paramObj.name' name='name' placeholder='Account Name'/>
    <input type='number' min="0" [(ngModel)]='paramObj.amount' name='amount' placeholder='Initial Deposit'/>
</form><br/>
<button (click)=addCashAcc()>Add Account</button><br/>

<!--Remove Account-->
<h5>Remove Account By ID</h5><br/>
<input type='number' min="0" [(ngModel)]='accountRemoverId' name='Remove Account'/><br/><br/>
<button (click)=deleteCashAccById()>Delete Account</button><br/>

<h5>Remove Account By Name</h5><br/>
<input type='text' min="0" [(ngModel)]='accountRemoverName' name='Remove Account Name' placeholder='Account Name'/><br/><br/>
<button (click)=deleteCashAccByName()>Delete Account</button><br/>
</div>

<div class="col-sm">
<!--Investments-->
<h3>Investments</h3>
<app-investment
    *ngFor="let item of stocks"
    [name]='item.name'
    [ticker]='item.ticker'
    [avgPurchasePrice]='item.avgPurchasePrice'
    [quantity]='item.quantity'>
</app-investment>
</div>
</div>
</div>