<div class="container">
    <div class= "row">
        <div class="col-sm">
<h3>Cash Accounts</h3>
<app-cashaccount
    *ngFor="let item of accounts; let i=index"
    [name]='item.name'
    [amount]='item.amount'
    [id]='item.id'>
</app-cashaccount>

<button (click)=getAllCashAcc() class="btn btn-primary">Update All Accounts</button><br/><br/>
<hr>
<!--Add Account-->
<h5>Add an account</h5>
<form>
    <input type='text' [(ngModel)]='paramObj.name' name='name' placeholder='Account Name'/>
    <input type='number' min="0" [(ngModel)]='paramObj.amount' name='amount' placeholder='Initial Deposit'/>
</form><br/>
<button (click)=addCashAcc() class="btn btn-success">Add Account</button><br/>
<hr>

<!--Remove Account-->
<h5>Remove Account By ID</h5>
<input type='number' min="0" [(ngModel)]='accountRemoverId' name='Remove Account'/><br/><br/>
<button (click)=deleteCashAccById() class="btn btn-danger">Delete Account</button><br/>
<hr>

<h5>Remove Account By Name</h5>
<input type='text' min="0" [(ngModel)]='accountRemoverName' name='Remove Account Name' placeholder='Account Name'/><br/><br/>
<button (click)=deleteCashAccByName() class="btn btn-danger">Delete Account</button><br/>
</div>

<div class="col-sm">
<!--Investments-->
<h3>Investments</h3>
<button (click)=getAllInvestments() class="btn btn-primary">Update Investments</button><br>
<form>
    <input type='text' [(ngModel)]='newStockParams.ticker' name='ticker' placeholder='Ticker'/>
    <input type='text' [(ngModel)]='newStockParams.name' name='name' placeholder='Name'/>
    <input type='text' [(ngModel)]='newStockParams.type' name='type' placeholder='Investment Type'/>
    <input type='number' min="0" [(ngModel)]='newStockParams.quantity' name='quantity' placeholder='Quantity to purchase'/>
</form>
<button (click)=buyInvestment() class="btn btn-success">Buy Shares</button><br>
<form>
    <input type='text' [(ngModel)]='deleteStockTicker' name='ticker' placeholder='Ticker'/>
</form>
<button (click)=sellInvestment() class="btn btn-danger">Sell All Shares</button><br>
<app-investment
    *ngFor="let item of stocks"
    [name]='item.name'
    [ticker]='item.ticker'
    [currPrice]='item.currPrice'
    [avgPurchasePrice]='item.avgPurchasePrice'
    [quantity]='item.quantity'>
    [quantity]='item.quantity'
    (buySellEvent)='handleBuySell($event)'>
</app-investment>
</div>
</div>
</div>
   
