<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<div class ="container text-center mt-5 mb-5">
<header>
  <img src="../assets/citilogo2.png" width="120" height="78"/><br/><br/>
  <h2>My Portfolio Manager</h2>
</header>
</div>
<body>
  <div class= "container text-center mt-5 mb-5">
  <nav>
    <a routerLink='/assets'>Assets</a> | 
    <a routerLink='/insights'>Insights</a>
  </nav>
</div>
  <router-outlet></router-outlet>
</body>
</html>