/* You can add global styles to this file, and also import other style files */
body {
    background-color: #D4ecfc;
}
a {
    color: black;
    font-size: large;
}

input[type='number']{
    width: 80px;
}

button {
    margin: 5px;
}

.assetname {
    font-weight: bold;
}